.btn{
    transition: .3s ease-in-out;
    transition-property: color, background-color, border-color;
    border: 0 none;
    position: relative;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    font-size: 17px;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: 700;

    &:not(.btn-default).waves-button, 
    &:not(.btn-default).waves-button-input, 
    &:not(.btn-default).waves-button:hover, 
    &:not(.btn-default).waves-button:visited{
        color: #fff;
    }

    &.btn-default{
        color: $brand-primary;

        &:hover,
        &:focus{
            color: #fff;
            background-color: $brand-primary;
        }
    }
}
