.carousel{
    margin-bottom: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

    &.carousel-fade {
        .item {
            opacity: 0;
            transition-property: opacity;

            &.active {
                opacity: 1;
                &.left, &.right {
                    left: 0;
                    z-index: 1;
                    opacity: 0;
                }
            }
        }
        .next.left,
        .prev.right {
            opacity: 1;
        }
    }
    &.carousel-inline{
        .item{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @media (min-width: $screen-md-min){
                min-height: 600px;
            }

            >a,
            img{
                position: relative;
                z-index: 11;
            }

            img{
                opacity: 0;
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }
    }
    &.carousel-fullscreen{
        .item{
            height: 100%;
            background-size: cover;
        }
    }
    .carousel-control{
         transition: all .2s ease-in-out;
         z-index: 11;
    }
    .carousel-caption{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-shadow: 0 1px 2px rgba(0,0,0,0.3);

        [data-animated="true"]{
            opacity: 0;

            &.animated{
                opacity: 1;
            }
        }

        .slide-title{
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 0.5em;
            font-weight: 800;
            font-size: 70px;
            line-height: 84px;

            @media (max-width: $screen-sm-max){
                font-size: 27px;
                line-height: 32px;
            }
            @media (max-width: $screen-xs-max){
                font-size: 18px;
                line-height: 21px;
            }
        }
        .slide-caption{
            font-size: 40px;
            line-height: 48px;

            @media (max-width: $screen-sm-max){
                font-size: 20px;
                line-height: 24px;
            }
            @media (max-width: $screen-xs-max){
                font-size: 13px;
                line-height: 15px;
            }

            p{
                display: inline-block;
            }
        }
        .text-wrapper{
            position: relative;
            display: inline-block;

            @media (max-width: $screen-xs-max){

            }

            >span,
            >span >span{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: -1;
            }
            >span >span{
                border-radius: 5px;
                opacity: 0;
            }
        }

        >div {
            display: table;
            width: 100%;
            height: 100%;

            >div{
                display: table-cell;
                vertical-align: bottom;
            }
        }

        &.align-left{
            >div{
                >div{
                    text-align: left;
                }
            }
        } 
        &.align-center{
            >div{
                >div{
                    text-align: center;
                }
            }
        } 
        &.align-right{
            >div{
                >div{
                    text-align: right;
                }
            }
        } 

        &.valign-top{
            >div{
                >div{
                    vertical-align: top;
                }
            }
        } 
        &.valign-middle{
            >div{
                >div{
                    vertical-align: middle;
                }
            }
        } 
        &.valign-bottom{
            >div{
                >div{
                    vertical-align: bottom;
                }
            }
        } 

    }
}
.carousel-indicators{
    li{
        transition: transform .2s ease-in-out;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        &,
        &:hover,
        &.active{
            margin: 4px;
            width: 16px;
            height: 16px;
        }
        &.active{
             transform: scale3d(1.2, 1.2, 1);
        }
    }
}
