p >img,
p >iframe,
p >a >img,
p >a >iframe{
    max-width: 100%;
}
img[class*="img-"],
.img-thumbnail{
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: .3s ease-in-out;
    transition-property: box-shadow, border-color, transform;
    border-width: 1px;
    padding: 0;

}
a img[class*="img-"],
a .img-thumbnail{
    &:hover,
    &:focus{
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
        border-color: $brand-primary;
        /*transform: translate3d(0,-1px,0);*/
    }

}
