.gallery{
    @media (max-width: $screen-xs-max){
        text-align: center;
    }
    .gallery-row{
        margin-left: 0;
        margin-right: 0;
        &+.gallery-row{
            @media (min-width: $screen-sm-min){
                margin-top: 5px;
            }
            @media (min-width: $screen-md-min){
                margin-top: 10px;
            }
        }
        & >div[class^="col-"]{
            padding: $padding-base-vertical;
        }
        @media (max-width: $screen-xs-max){
            &.row{
                display: inline;
                &:before,
                &:after{
                    display: none;
                }
            }
            &.row >div[class^="col-"]{
                display: inline-block;
                width: 50%;
            }
        }
    }
    .thumb-wrapper{
        text-align: center;
        .thumbnail{
            padding: 0;
            border: 0 none;
            border-radius: 0;
            margin-bottom: 0;
            display: inline-block;
            position: relative;
            transition: .3s ease-in-out;
            transition-property: box-shadow, transform;

            &,
            & >img{
                width: 100%;
            }

            &:before,
            &:after{
                content: "";
                display: block;
                position: absolute;
                transition: opacity .3s ease-in-out;
            }

            &:before{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: $accent_color;
            }
            &:after{
                content: "";
                top: 50%;
                left: 50%;
                font-family: "Glyphicons Halflings";
                font-size: 40px;
                line-height: 1;
                margin: -0.4em 0 0 -0.45em;
                opacity: 0;
                text-rendering: auto;
                animation-duration: .75s;
            }
            &:hover {
                /*transform: translate3d(0,-1px,0);*/

                &:before{
                    opacity: 0.7;
                }
                &:after{
                    opacity: 1;
                    animation-name: fadeInDown;
                }
            }
        }
        .thumb-title{
            font-size: $font-size-large;
        }
    }
}
p >img,
p >iframe{
    max-width: 100%;
}
img[class*="img-"],
.img-thumbnail{
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: .3s ease-in-out;
    transition-property: box-shadow, border-color, transform;
    border-width: 1px;
    padding: 0;

}
a img[class*="img-"],
a .img-thumbnail{
    &:hover,
    &:focus{
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
        border-color: $brand-primary;
        /*transform: translate3d(0,-1px,0);*/
    }

}
