.dropdownjs{
    .fakeinput{
        &.form-control{
            background-color: $input-bg;
            border-color: $input-border;
            &:hover,
            &:focus{
                border-color: $input-border-focus;
            }
        }
    }
    >ul{
        padding: 0;
        li{
            margin: 0;
            &.selected,
            &:active{
                background-color: transparentize($accent-color, 0.4);
                color: #fff;
            }
        }
    }

    &:after {
        right: 10px;
        top: 12px;
        font-size: 1em;
        position: absolute;
        content: "";
        font-family: "Glyphicons Halflings";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        pointer-events: none;
        color: $gray-light;
    }
}
