/* Selection color */
*::-moz-selection {
    color: #fff;
    background: $brand-primary;
    text-shadow: none;
}
*::selection {
    color: #fff;
    background: $brand-primary;
    text-shadow: none;
}

/* Headings offset */
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
     margin: 1.5em 0 1em;
}
h1, 
h2{
     font-style: italic;
}
ul:not(.nav):not('.gform_fields'){
  list-style: none;

  li:before{
    content: "\2014";
    display: inline-block;
    transform: translateX(-35px);
    margin-right: -30px;
  }
}
/* Fix VC rows */
.row{
    width: auto;
}

/* Stiky Footer */
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
}
.wrap {
    padding: 0;
    flex: 1;
    order: 0;

    &.container{
        max-width: 100%;

        @media (max-width: $screen-xs-max){
            width: 100%;
        }
    }
    &.container-fluid{
        width: 100%;
    }
}
.navbar-fixed-top + div,
.main > .carousel-inline .carousel-caption{
    padding-top: 63px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        padding-top: 133px;
    }

    @media (min-width: $screen-md-min){
        padding-top: 83px;
    }
}
.main > .carousel-inline{
     margin-top: -63px;

     @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
         margin-top: -133px;
     }

     @media (min-width: $screen-md-min){
         margin-top: -83px;
     }
}


/* Minor adjustments */
.navbar-static-top{
    margin-bottom: 0;
}
.table-hover > tbody > tr{
    transition: background-color .1s ease-in-out;
}
.list-group-item{
    transition: background-color 0.1s ease-in-out;
}
.list-group-item,
.panel{
    border-left-color: transparent;
    border-right-color: transparent;
}

// custom section
.layout-section{
     padding: 50px 0;
}


