.navbar-collapse .socials{
    line-height: $navbar-height;

    @media (min-width: $screen-md-min){
        float: right;
        margin-right: $grid-gutter-width/2;
    }

    a{
        color: $navbar-default-link-color;
        border-color: $navbar-default-link-color;
        &:hover,
        &:focus{
            color: #fff;
            background-color: $navbar-default-link-hover-color;
            border-color: $navbar-default-link-hover-color;
        }
    }
}
.navbar-default{
    border-width: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 0;

    .navbar-header{
        padding-top: $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
        
        @media (max-width: $screen-sm-max){
            float: none;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            margin-bottom: 1em;
            text-align: center;
        }
    }

    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: $brand-primary;
        z-index: -1;
    }
    @media (min-width: $screen-sm-min){
        .socials,
        .navbar-nav{
            margin-top: $navbar-padding-vertical;
        }
    }
    .navbar-nav{
        @media (max-width: $screen-sm-max){
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            float: none;
        }
        >li{
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
                display: inline-block;
                float: none;
            }

            &.open >a,
            &.open >a:hover,
            &.open >a:focus {
                background-color: transparent;
            }
            &.open >a,
            >a:hover,
            >a:focus{
                &:before{
                    border-color: black;
                    width: 100%;
                    left: 0;

                    @media (max-width: $screen-xs-max){
                        width: 0;
                    }
                }
            }

            &.active{
                >a{
                    background: #ffffff;
                    background: linear-gradient(to bottom, #ffffff 0%, transparent 100%);
                }
            }

            >a{
                position: relative;
                text-shadow: 1px -1px 0 rgba(0,0,0,0.3);

                @media (max-width: $screen-xs-max){
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                }

                 &:before{
                     content: "";
                     display: block;
                     position: absolute;
                     top: 0;
                     left: 50%;
                     width: 0;
                     height: 0;
                     overflow: hidden;
                     border-top: 2px solid transparent;
                     transition: .3s ease-in-out;
                     transition-property: border-color, width, left;

                 }
            }
        }
    }
    .navbar-brand{
        line-height: 1;
        padding-top: 0;
        padding-bottom: 0;
        height: $navbar-height;
        line-height: auto;

        @media (max-width: $screen-xs-max){
            margin-right: 60px;
        }
        @media (max-width: $screen-sm-max){
            float: none;
            display: block;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            display: inline-block;
        }

        &:hover,
        &:focus{
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: pulse;
            transform-origin: center bottom;
        }

        span,
        strong{
            text-align: center;
            display: block;
        }
        span{
            font-size: 0.6em;

            &:before{
                content: "";
                display: block;
                margin: 0.5em auto 0.3em;
                width: 50%;
                height: 0;
                border: solid $brand-primary;
                border-width: 1px 0 0;
            }
        }
        img{
             max-height: 100%;
             max-width: 100%;
             float: left;
             vertical-align: middle;
             line-height: 50px;

             @media (max-width: $screen-sm-max){
                 float: none;
             }

        }

    }

    .navbar-toggle{
        position: absolute; 
        top: 0;
        right: 0;
        margin-top: 20px;
        border-radius: 100%;
    }
}
.dropdown-menu{
    border-width: 0 1px 1px;
    padding: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    border: 0 none;
    >li{
        >a{
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            transition: .2s ease-in-out;
            transition-property: background-color, color;
            position: relative;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        }
    }
}

